.customersList {
    padding: 5px;
    padding-left: 20px;
    margin: 10px;
    background-color: lightgrey;
    color: black;
    font-size: 30px;
    text-align: left;
    border-radius: 10px;
    cursor:pointer;
}

h1 {
    padding-left: 20px;
}